# Core Frameworks
fastapi
uvicorn[standard]
streamlit

# Audio
gtts
pydub
audio_recorder_streamlit
faster-whisper

# LLM + RAG
openai
requests
python-dotenv
transformers
sentence-transformers

# Vector DB
faiss-cpu

# FinBERT / HuggingFace API
huggingface_hub

# Finance APIs & Scraping
yfinance
