# Core Frameworks
fastapi
uvicorn[standard]
streamlit

# Audio
gtts
pydub
audio_recorder_streamlit
faster-whisper

# LLM + RAG
requests
python-dotenv
sentence-transformers

# Vector DB
faiss-cpu

# Finance APIs & Scraping
yfinance